@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    cursor: default;
  }

  button, a, [role="button"] {
    cursor: pointer;
  }

  body {
    @apply text-gray-800 antialiased;
  }
}

/* Custom Utilities */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    display: none;
  }
}
